*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin
/target
# idea IDE
out
.idea
*.iml
*.ipr
*.iws
*.ids

#file
*.pdf

# eclipse IDE
.classpath
.project
.settings

# build
.gradle
/build

#mac
.DS_Store

#log
logs
